body {
  font-family: 'Quicksand', sans-serif !important;
  height: 100%;
}

footer {
}
.footer {
    position: relative;
    /*background: rgba(52,58,64,1);*/
    background: black;
    height: 8.125em;
}
.footer:before {
    content: "";
    position: absolute;
    z-index: 5;
    display: block;
    right: 0;
    top: -2.5rem;
    width: 100%;
    /*background: rgba(52,58,64,1);*/
    background: black;
    -webkit-transform: skewY( -2deg );
    -ms-transform: skewY(-2deg);
    transform: skewY( -2deg );
    height: 8.125rem;
}

.content {
  position: relative;
  color: white;
  width: 100%;
  z-index: 6;
}

#bg-image {
    background-image: url("/static/img/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}

.container-custom {
    height: 100%;
}

.container-content {
    position: relative;
    background-color: white;
    height: 100%;
    padding-bottom: 100px;
    z-index: 4;
}
.bottom {
    padding-bottom: 50px;
}

.head {
    /*background: rgba(52,58,64,1);*/
    background: black;
    color: white;
}
