{% extends 'brewery/base.html' %}
{% block content %}
<div class="container-sm">
    <h2>Analyse</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm" style="background-color:red">
                Bier.Balance: (Income, Outcome)/(intern, extern)
            </div>
            <div class="col-sm" style="background-color:green">
                Bier.Kuchen
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="background-color:yellow">
                Balken
            </div>
            <div class="col-sm" style="background-color:blue">
                Kuchen
            </div>
        </div>
    </div>
</div>
{% endblock content %}
