<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BAEKEBRAEU {% block title %}{% endblock %}</title>
    <!-- bootstrap
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"> </script>

    <!-- datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"> </script>
</head>
<body>

<h1>BAEKEBRAEU</h1>
<ul>
{% if user.is_authenticated %}
    <p>Hello, {{ user.username }}</p>
        <li><a href='{% url 'index' %}'>Übersicht</a></li>
        <li><a href='{% url 'keg' %}'>Bierblick</a></li>
        <li><a href='{% url 'brewing_overview' %}'>Brauen</a></li>
        <li><a href='{% url 'recipe' %}'>Rezepte</a></li>
        <li><a href='{% url 'storage' %}'>Lager</a></li>
        <li><a href='{% url 'logout' %}'>Logout</a></li>
{% else %}
    <p>Hello Anonymous</p>
    <li><a href='{% url 'login' %}'>Login</a></li>
{% endif %}
</ul>

{% block content %}
{% endblock content %}
</body>
</html>