<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BAEKEBRAEU {% block title %}{% endblock %}</title>
    <!-- bootstrap -->
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block extrahead %}
    {% endblock %}

    <!-- datetimepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <!-- datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"> </script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"> </script>
</head>

{% load static %}
<body class="bg-image"
      style="   background-image: url('{% static 'brewery/img/bg.jpg' %}');
                background-size: 100%;
                background-repeat: no-repeat;
                background-color: black;
            ">
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark navbar-fixed-top" style="background-color: rgba(52,58,64,0.9)">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'brewery/img/logo-white.png' %}" alt="Logo" style="width:35px;">
                </a>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link " href='{% url 'index' %}'>Übersicht</a></li>
                    <li class="nav-item"><a class="nav-link " href='{% url 'keg' %}'>Bierblick</a></li>
                    <li class="nav-item"><a class="nav-link " href='{% url 'brewing_overview' %}'>Brauen</a></li>
                    <li class="nav-item"><a class="nav-link " href='{% url 'recipe' %}'>Rezepte</a></li>
                    <li class="nav-item"><a class="nav-link " href='{% url 'storage' %}'>Lager</a></li>
                    <li class="nav-item"><a class="nav-link " href='{% url 'logout' %}'>Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href='{% url 'login' %}'>Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="container pt-5 pb-5" style="background-color: white">
    {% block content %}
    {% endblock content %}
        </div>
    </div>
    <script>
        $('#datatable').DataTable({
            "pageLength": 15
        });
    </script>
</body>
</html>