{% extends 'brewery/base.html' %}
{% block title %}Brauen -{% endblock title %}
{% block content %}
<div class="container-sm bottom">
    <h2>Brauen</h2>
    {% if active %}
        <u>Aktive Charge:</u>
        {% for c in active %}
            <a class="number" href="{% url 'brewing' c.id %}">{{ c }}</a>&nbsp;
        {% endfor %}
        <br> <br>
    {% endif %}
    <style>
    </style>
    <table id="datatable" class="table table-sm table-hover display dt-responsive dataTable dtr-inline collapsed" width="100%">
        <thead class="thead-dark">
            <tr>
                <th class="never"></th>
                <th>Charge</th>
                <th>Rezept</th>
                <th class="desktop align-right" data-halign="center" data-align="center">Menge (Ist/Soll)</th>
                <th class="desktop align-right">Produktion</th>
            </tr>
        </thead>
        <tbody>
        {% for c in charge %}
        <tr>
            <td></td>
            <td class="number"><a href="{% url 'protocol' c.id %}">{{ c }}</a></td>
            <td>{{ c.recipe.name }}</td>
            <td class="number align-right">
                {% if c.output %} {{ c.output|floatformat:0 }} {% else %} -- {% endif %}
                / {{ c.amount }}
            </td>
            <td class="number align-right">{{ c.production |date:'d.m.Y'}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <form>
        <input type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '{% url 'brewing_add' %}';" value="Neue Charge">
    </form>
</div>
{% endblock content %}
