{% extends 'brewery/base.html' %}
{% block content %}
<div class="container-sm bottom">
    <h2>Brauen</h2>
    {% if active %}
        <u>Aktive Charge:</u>
        {% for c in active %}
            <a href="{% url 'brewing' c.id %}">{{ c }}</a>&nbsp;
        {% endfor %}
        <br> <br>
    {% endif %}
    <table id="datatable" class="table table-sm table-hover display dt-responsive dataTable dtr-inline collapsed" width="100%">
        <thead class="thead-dark">
            <tr>
                <th class="never"></th><th>Charge</th> <th>Rezept</th> <th class="desktop">Menge</th> <th class="desktop">Datum</th>
            </tr>
        </thead>
        <tbody>
        {% for c in charge %}
        <tr>
            <td></td>
            <td><a href="{% url 'protocol' c.id %}">{{ c }}</a></td>
            <td>{{ c.recipe.name }}</td>
            <td>{{ c.amount }}</td>
            <td>{{ c.production |date:'d. M Y'}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <form>
        <input type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '{% url 'brewing_add' %}';" value="Neue Charge">
    </form>
</div>
{% endblock content %}