{% extends 'brewery/base.html' %}
{% block content %}
<h2>Brauen</h2>

<form>
    <input type="button" onclick="window.location.href = '{% url 'brewing_new' %}';" value="Neue Charge"/>
</form>

<h3>Überblick</h3>
<table>
    <thead>
        <tr>
            <th>Charge</th> <th>Rezept</th> <th>Menge</th> <th>Datum</th>
        </tr>
    </thead>
    <tbody>
    {% for c in charge %}
    <tr>
        <td><a href="{% url 'protocol_detail' c.id %}">{{ c }}</a></td>
        <td>{{ c.recipe.name }}</td>
        <td>{{ c.amount }}</td>
        <td>{{ c.production }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
