{% extends 'brewery/base.html' %}
{% block content %}
<h2>Brauen</h2>
<h3>Neue Charge</h3>

{% if charge == None %}
Wähle eine Rezept und die Menge:
<form action="" method="post">
    {% csrf_token %}
    {{ form.recipe }}
    {{ form.amount }}
    <input type="submit" name="start" value="Weiter">
</form>
{% endif %}

{% if charge != None %}
<ul>Rezept:</ul> {{ charge.recipe.name }}
<ul>Menge:</ul> {{ charge.amount }} Liter
<form action="" method="post">
    {% csrf_token %}
    {{ form. }}
    <input type="submit" name="next" value="Weiter">
</form>
{% endif %}


<br/><br/>
<table>
    <thead>
        <tr>
            <th>Charge</th> <th>Rezept</th> <th>Menge</th> <th>Datum</th>
        </tr>
    </thead>
    <tbody>
    Dummy
    </tbody>
</table>
{% endblock content %}