{% extends 'brewery/base.html' %}
{% block content %}
<h2>Brauen</h2>
<h3>Neue Charge</h3>

{% if charge == None %}
Wähle eine Rezept und die Menge:
<form action="" method="post">
    {% csrf_token %}
    {{ form.recipe }}
    {{ form.amount }}
    {{ form.brewmaster }}
    <input type="submit" name="start" value="Weiter">
</form>
{% endif %}

{% if charge != None %}
<u>Rezept:</u> {{ charge.recipe.name }} <br>
<u>Menge:</u> {{ charge.amount }} Liter <br>
<u>Braumeister:</u> {{ charge.brewmaster }}


<h3>Akutell:</h3>
<form action="" method="post">
{% csrf_token %}
<table>
    <thead>
    <tr>
        <th>Schritt</th> <th>Titel</th> <th>Beschreibung</th> <th>Zutaten</th> <th>Menge</th> <th>Dauer</th> <th>Notizen</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ step.step }}</td>
        <td>{{ step.title }}</td>
        <td>{{ step.description }}</td>
        <td>{{ step.ingredient }}</td>
        <td>{{ step.amount }}</td>
        <td>{{ step.duration }}</td>
        <td>{{ form.comment }}</td>
    </tr>
    </tbody>
</table>
{% if end_reached %}
    <input type="submit" name="end" value="Speichern">
{% else %}
    <input type="submit" name="next" value="Weiter">
{% endif %}
<input type="hidden" name="charge" value="{{ charge.id }}">
<input type="hidden" name="tstart" value="{{ tstart|date:'YmdHisu' }} ">
<input type="hidden" name="step" value="{{ step.step }} ">
</form>

<br/><br/>
<h3>Protokoll</h3>
<table>
    <thead>
        <tr>
            <th>Schritt</th> <th>Titel</th> <th>Beschreibung</th> <th>Zutaten</th> <th>Menge</th> <th>Dauer</th> <th>Start</th> <th>Ende</th> <th>Notizen</th>
        </tr>
    </thead>
    <tbody>
    {% for p in protocol %}
    <tr>
        <td>{{ p.step }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.description }}</td>
        <td>{{ p.ingredient }}</td>
        <td>{{ p.amount }}</td>
        <td>{{ p.duration }}</td>
        <td>{{ p.tstart }}</td>
        <td>{{ p.tend }}</td>
        <td>{{ p.comment }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
