{% extends 'brewery/base.html' %}
{% block content %}
<h2>Brauen</h2>

{% if charge and charge.preps_finished %}
    <u>Rezept:</u> {{ charge.recipe.name }} <br>
    <u>Menge:</u> {{ charge.amount }} Liter <br>
    <u>Braumeister:</u> {{ charge.brewmaster }}

    <div style="margin-top:10px; padding:5px; max-width:700px; border:1px solid black;">
        <h3><u>Aktuell:</u></h3>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <thead>
                <tr>
                    <th>Schritt</th> <th>Titel</th> <th>Beschreibung</th> <th>Zutaten</th> <th>Menge</th> <th>Dauer</th> <th>Notizen</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ step.step }}</td>
                    <td>{{ step.title }}</td>
                    <td>{{ step.description }}</td>
                    <td>{{ step.ingredient }}</td>
                    <td>{{ step.amount }}</td>
                    <td>{{ step.duration }}</td>
                    <td>{{ form.comment }}</td>
                </tr>
                </tbody>
            </table>
            {% if hint %}
            <h3><u>Hinweis:</u></h3>
            <ul>
                {% for h in hint %}
                <li>{{ h }}</li>
                {% endfor %}
            </ul>
            <br>
            {% endif %}
            <br/>
            {% if next %}
            <input type="submit" name="brew_next" value="Weiter">
            {% else %}
            <input type="submit" name="brew_next" value="Speichern">
            {% endif %}
            <input type="hidden" name="charge" value="{{ charge.id }}">
            <input type="hidden" name="tstart" value="{{ tstart|date:'YmdHisu' }} ">
            <input type="hidden" name="step" value="{{ step.step }} ">
        </form>
        <br/>
    </div>

    <h3>Protokoll</h3>
    <table>
        <thead>
            <tr>
                <th>Schritt</th> <th>Titel</th> <th>Beschreibung</th> <th>Zutaten</th> <th>Menge</th> <th>Dauer</th> <th>Start</th> <th>Ende</th> <th>Notizen</th>
            </tr>
        </thead>
        <tbody>
        {% for p in protocol %}
        <tr>
            <td>{{ p.step }}</td>
            <td>{{ p.title }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.ingredient }}</td>
            <td>{{ p.amount }}</td>
            <td>{{ p.duration }}</td>
            <td>{{ p.tstart }}</td>
            <td>{{ p.tend }}</td>
            <td>{{ p.comment }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% elif charge and not charge.preparations %}
<div style="margin-top:10px; padding:5px; max-width:700px; border:1px solid black;">
    <h3><u>Vorarbeiten</u></h3>
    <table>
    <tr>
        <th>Kategorie</th><th>Beschreibung</th><th>Erledigt</th>
    </tr>
    <form action="" method="post">
    {% csrf_token %}
    {% for p, f in list %}
    <tr>
        <td>{{ p.preparation.short }}</td>
        <td>{{ p.preparation.detail}}</td>
        <td>{{ f.check }}</td>
    </tr>
    {% endfor %}
    </table>
    <br>
    <input type="submit" name="preps_save" value="Speichern">
    <input type="submit" name="preps_next" value="Weiter">
    </form>
</div>
{% else %}
    Wähle eine Rezept und die Menge:
    <form action="" method="post">
        {% csrf_token %}
        {{ form.recipe }}
        {{ form.amount }}
        {{ form.brewmaster }}
        <input type="submit" name="create" value="Erstellen">
    </form>
{% endif %}

{% endblock content %}