{% extends 'brewery/base.html' %}
{% block title %}{% if called == 'add' %}Neue Position{% else %}Bearbeite: Position{% endif %} - Lager -{% endblock title %}
{% block content %}
<div class="container-sm bottom">
<h1>Impressum</h1>
<p>Angaben gemäß § 5 TMG</p>

<p>Simon Blanck<br>
Bundesallee 76A<br>
12161 Berlin <br>
Deutschland</p>

<u>Kontakt</u>
<p>E-Mail: info[at]braurat.de</p>

<h3>Haftungsausschluss (Disclaimer)</h3>
<u>Haftung für Inhalte</u>
<p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.</p>

<u>Haftung für Links</u>
<p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.</p>

<u>Urheberrecht</u>
<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</p>
</div>
{% endblock content %}