{% extends 'brewery/base.html' %}
{% block content %}
<div class="container">
    <div class="container-sm">
        <h2>Wasser.Gerstenmalz.Hopfen.Hefe.</h2>
        Original seit 2015.
        <div id="pixlee_container" style="height: 760px; overflow: hidden; margin-bottom: 10px;"></div>
        <script type="text/javascript">window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'Nr-Q2zmR-HgfHIMLhyIZ'});Pixlee.addSimpleWidget({widgetId:'32872'});};</script>
        <script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>
    </div>
</div>
{% endblock content %}
