{% extends 'brewery/base.html' %}
{% block extrahead %}
{% endblock %}

{% block content %}
<div class="container-sm">
    <h2>Liste des ewigen Bieres</h2>
    <form method="post" class="form">
        <table class="table table-sm table-hover table-bordered" id="datatable">
            <thead class="thead-dark">
            <tr>
                <th>Keg</th> <th>Volumen</th> <th>Charge</th> <th>Inhalt</th> <th>Abfüllung</th> <th>Notizen</th> <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% if kegs != None %}
                {% for k in kegs %}
                <tr>
                    <td>{{ k.id }}</td>
                    <td>{{ k.volume }}</td>
                    <td>{% if k.content %}<a href="{% url 'protocol' k.content.id %}">{{ k.content }}</a>{% endif %}</td>
                    <td>{% if k.content %} {{ k.content.recipe }}{% endif %}</td>
                    <td>{% if k.filling %} {{ k.filling }}{% endif %}</td>
                    <td>{% if k.notes %} {{ k.notes }}{% endif %}</td>
                    <td>{% if k.content %} {{ k.get_status_display }}{% endif %}</td>
                </tr>
                {% endfor %}
            {% else %}
                {% for k, f in list %}
                {{ f.media }}
                <tr>
                    <td>{{ k.id }}</td>
                    <td>{{ k.volume }}</td>
                    <td>{{ f.content }}</td>
                    <td>{{ k.content.recipe }}</td>
                    <td>{{ f.filling }}</td>
                    <td>{{ f.notes }}</td>
                    <td>{{ f.status }}</td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <br>
        {% csrf_token %}
        {% if kegs != None %}
            <input type="submit" class="btn btn-primary btn-lg btn-block" name="edit" value="Bearbeiten">
        {% else %}
            <input type="submit" class="btn btn-primary btn-lg btn-block" name="save" value="Speichern">
            <input type="button" class="btn btn-secondary btn-lg btn-block" value="Abbrechen"  onclick="window.location.href = '{% url 'keg' %}';">
        {% endif %}
    </form>
</div>


{% endblock content %}