{% extends 'brewery/base.html' %}
{% block content %}

<div class="container-sm">
    {% if not charge %}
    <h1> HIER STIMMT WAS NICHT! </h1>
    {% else %}
    <div class="card">
        <div class="card-header">
            <div class="d-flex">
                <div class="title pt-4 pb-4 w-100">
                    <div class="text-right">
                    </div>
                    {% load static %}
                    <div class="text-center">
                        <img src="{% static 'img/logo-white-long.png' %}" height=100px;></td>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <span class="float-md-left"> <h3>Protokoll: {{ charge.recipe.name }}</h3> </span>
                        </div>
                        <div class="col-md-6 text-center">
                            <span class="float-md-right"> <a href="{% url 'create_pdf_protocol' charge.id %}" title="Erzeuge PDF"><i class="fa fa-file-pdf-o" style="font-size:35px;color:red"></i></a> </span>
                        </div>
                    </div>
                </div>
            </div>
      
            <!-- START TABS DIV -->
            <div class="tabbable-responsive">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Parameter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Brauprotokoll</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false">Gärprotokoll</a>
                        </li>
                        {% if not public %}
                        <li class="nav-item">
                            <a class="nav-link" id="fourth-tab" data-toggle="tab" href="#fourth" role="tab" aria-controls="fourth" aria-selected="false">QR-Code</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
                    <p class="card-text">
                        <table class="table table-sm table-hover" style="vertical-align:top;">
                            <tbody>
                                <tr><td><u>Braumeister:</u></td><td>{{ charge.brewmaster }}</td></tr>
                                <tr><td><u>Charge:</u></td><td>{{ charge.cid }} </td></tr>
                                <tr><td><u>Braudatum:</u></td><td>{{ charge.production }} </td></tr>
                                <tr><td><u>Gesamtdauer:</u></td><td>{{ charge.duration }} </td></tr>
                                <tr><td><u>Menge:</u></td><td>{{ charge.amount }} Liter </td></tr>
                                <tr><td><u>Wasser:</u></td><td>{{ hg }} Liter / {{ ng }} Liter (HG/NG) </td></tr>
                                <tr><td><u>Ausstoß:</u></td><td>{{ charge.output }} Liter</td></tr>
                                <tr><td><u>Restextrakt:</u></td><td>{{ charge.restextract }} °Plato</td></tr>
                                <tr><td><u>Stammwürze:</u></td><td>{{ charge.reached_wort }} °Plato</td></tr>
                                <tr><td><u>EVG:</u></td><td>{{ evg }} %</td></tr>
                                <tr><td><u>Alkohol:</u></td><td>{{ alc }} Vol.%</td></tr>
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
                    <p class="card-text">
                        <table class="table table-sm table-hover" style="vertical-align:top;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Schritt</th> <th>Titel</th> <th>Beschreibung</th> <th>Zutaten</th> <th>Menge</th> <th>Dauer</th> <th>Start</th> <th>Ende</th> <th>Notizen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in protocol %}
                                <tr>
                                    <td>{{ p.step }}</td>
                                    <td>{{ p.title }}</td>
                                    <td>{{ p.description }}</td>
                                    <td>{% if p.ingredient %}{{ p.ingredient }}{% endif %}</td>
                                    <td>{% if p.amount %}{{ p.amount }}{% endif %}</td>
                                    <td>{% if p.duration %}{{ p.duration }}{% endif %}</td>
                                    <td>{{ p.tstart }}</td>
                                    <td>{{ p.tend }}</td>
                                    <td>{{ p.comment }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </p>
                </div>
                <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">
                    <p class="card-text">
                        {% if plot %}
                            {% autoescape off %}
                            {{ plot }}
                            {% endautoescape %}

                        {% elif fermentation %}
                            <table class="table table-sm table-hover" style="vertical-align:top;">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Schritt</th> <th>Temperatur</th> <th>Plato</th> <th>Datum</th>
                                    </tr>
                                </thead>
                            <tbody>
                            {% for f in fermentation %}
                            <tr>
                                <td>{{ f.step }}</td>
                                <td>{{ f.temperature }}</td>
                                <td>{{ f.plato }}</td>
                                <td>{{ f.date }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </p>
                </div>
                {% if not public %}
                <div class="tab-pane fade" id="fourth" role="tabpanel" aria-labelledby="fourth-tab">
                    <p class="card-text">
                        <div class="h-100 d-flex align-items-center justify-content-center">
                            {% load qr_code %}
                            {% qr_from_text qrurl size="M" %}
                        </div>
                    </p>
                </div>
                {% endif %}
            </div>      
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}

