{% extends 'brewery/base.html' %}
{% block content %}

<div class="container-sm">
    <h2><u>Protokoll:</u> {{ charge.recipe.name }}, {{ charge.amount }} Liter </h2>
    <u>Charge:</u> {{ charge.cid }} <br>
    <u>Menge:</u> {{ charge.amount }} Liter <br>
    <u>Wasser:</u> {{ hg }} Liter / {{ ng }} Liter (HG/NG) <br>
    <u>Ausstoß:</u> {{ output }} Liter<br>
    <u>EVG:</u> {{ evg }} °Plato<br>
    <u>Brautag:</u> {{ charge.production }} <br>
    <u>Gesamtdauer:</u> {{ charge.duration }} <br><br>

    <table class="table table-sm table-hover" style="vertical-align:top;">
        <thead class="thead-dark">
            <tr>
                <th>Schritt</th> <th>Titel</th> <th>Beschreibung</th> <th>Zutaten</th> <th>Menge</th> <th>Dauer</th> <th>Start</th> <th>Ende</th> <th>Notizen</th>
            </tr>
        </thead>
        <tbody>
        {% for p in protocol %}
        <tr>
            <td>{{ p.step }}</td>
            <td>{{ p.title }}</td>
            <td>{{ p.description }}</td>
            <td>{{ p.ingredient }}</td>
            <td>{{ p.amount }}</td>
            <td>{{ p.duration }}</td>
            <td>{{ p.tstart }}</td>
            <td>{{ p.tend }}</td>
            <td>{{ p.comment }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2><u>Gärung:</u></h2>

    {% if plot %}
        {% autoescape off %}
        {{ plot }}
        {% endautoescape %}

    {% elif fermentation %}
        <table class="table table-sm table-hover" style="vertical-align:top;">
            <thead class="thead-dark">
                <tr>
                    <th>Schritt</th> <th>Temperatur</th> <th>Plato</th> <th>Datum</th>
                </tr>
            </thead>
        <tbody>
        {% for f in fermentation %}
        <tr>
            <td>{{ f.step }}</td>
            <td>{{ f.temperature }}</td>
            <td>{{ f.plato }}</td>
            <td>{{ f.date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock content %}

