{% extends 'brewery/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-sm">
    <h2>Neues Rezept</h2>
    <p style="color:red">
        <b><u>Hinweis:</u></b> Das Rezept skaliert automatisch.
        Hiefür muss das Rezept zwingend für <u>100 Liter</u> eingepflegt werden.<br>
    </p>

    <form action="" method="post">
        {% csrf_token %}
        {{ add_recipe|crispy }}

        <br>
        <h3>Vorarbeiten</h3>
        <b><u>Hinweis:</u></b> Die Vorarbeiten müssen vor jedem Braugang durchgeführt werden.<br><br>

        Wähle die Vorarbeiten (Mehrfach: Strg + Klick):<br>
        {{ select_preparation|crispy }}
        <br><br>
        <input type="submit" class="btn btn-primary btn-lg btn-block" name="add" value="Erstellen">
    </form>
</div>
{% endblock content %}