{% extends 'brewery/base.html' %}
{% block content %}
<h2>Rezepte</h2>

<table>
    <thead>
        <tr>
            <th>Name</th> <th>Erstellt</th> <th>Author</th> <th>
        </tr>
    </thead>
    <tbody>
    {% for r in recipes %}
    <tr>
        <td><a href="{% url 'recipe_detail' r.id %}">{{ r.name }}</a></td>
        <td>{{ r.creation|date:'d.M Y' }}</td>
        <td>{{ r.author }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<form>
    <input type="button" onclick="window.location.href = '{% url 'recipe_new' %}';" value="Neues Rezept"/>
</form>


{% endblock content %}
