{% extends 'brewery/base.html' %}
{% block content %}
<h2>{{ recipe.name }}</h2>
<u>Author:</u> {{ recipe.author }} <br>
<u>Erstellt:</u> {{ recipe.creation |date:'d.M Y' }}

<br><br>
<table>
    <thead>
        <tr>
            <th>Schritt</th> <th>Titel</th> <th>Beschreibung</th> <th>Zutaten</th> <th>Anzahl</th> <th>Dauer</th><th></th>
        </tr>
    </thead>
    <tbody>
    {% for s in steps %}
    <tr>
        <td>{{ s.step }}</td>
        <td>{{ s.title }}</td>
        <td>{{ s.description }}</td>
        <td>{{ s.ingredient }}</td>
        <td>{{ s.amount }}</td>
        <td>{{ s.duration }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br><br>
<form method="post" action="">
    {% csrf_token %}
    <input type="button" onclick="window.location.href = '{% url 'recipe_edit' recipe_id=recipe.id %}';" value="Bearbeiten"/>
    <input type="submit" onclick="return confirm('Sure?');" name="delete" value="Löschen">
</form>

{% endblock content %}