{% extends 'brewery/base.html' %}
{% block title %} Rezepte -{% endblock title %}
{% block content %}

<div class="container-sm">
    <h2>Rezepte</h2>
    <table class="table table-sm table-hover display dt-responsive dataTable dtr-inline collapsed" id="datatable" width="100%">
        <thead class="thead-dark">
            <tr>
                <th class="never"></th><th class="all">Name</th> <th>Author</th> <th class="desktop align-right">Erstellt</th>
            </tr>
        </thead>
        <tbody>
        {% for r in recipes %}
        <tr>
            <td></td>
            <td><a href="{% url 'recipe_detail' r.id %}">{{ r.name }}</a></td>
            <td>{{ r.author }}</td>
            <td class="number align-right">{{ r.creation|date:'d.m.Y' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <form>
        <input type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '{% url 'recipe_add' %}';" value="Neues Rezept"/>
    </form>
</div>

{% endblock content %}
