{% extends 'brewery/base.html' %}
{% block title %}Bearbeiten: Schritt - {{ recipe.name }} -{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-sm">
    {% if form.id %}
        <h2>Schritt bearbeiten</h2>
    {% else %}
        <h2>Schritt hinzufügen</h2>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary btn-lg btn-block" name="save" value="Speichern">
        <input type="button" class="btn btn-secondary btn-lg btn-block" value="Abbrechen"  onclick="window.location.href = '{% url 'recipe_detail' recipe.id %}';">
    </form>
</div>
<script>
function Hide() {
    var select_type = document.getElementById('id_ingredient');
    var option = select_type.options[select_type.selectedIndex];
    if(option.text == "---------") {
         document.getElementById('div_id_amount').style.display = 'none';
         document.getElementById('div_id_unit').style.display = 'none';
    } else {
         document.getElementById('div_id_amount').style.display = '';
         document.getElementById('div_id_unit').style.display = '';
    }
}
window.onload = Hide;
document.getElementById('div_id_ingredient').onchange = Hide;
</script>
{% endblock content %}
