{% extends 'brewery/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-sm">
    <h2>Schritt hinzufügen</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary btn-lg btn-block" name="save" value="Speichern">
        <input type="button" class="btn btn-secondary btn-lg btn-block" value="Abbrechen"  onclick="window.location.href = '{% url 'recipe_detail' recipe.id %}';">
    </form>
</div>
{% endblock content %}