{% extends 'brewery/base.html' %}
{% block content %}

<div class="container-sm">
    <h2>Lager</h2>
    <div id="responsive">
        <table id="datatable" class="table table-sm table-hover display dt-responsive dataTable dtr-inline collapsed" width="100%">
            <thead class="thead-dark">
            <tr>
                <th class="never">ID</th><th class="all">Name</th> <th data-sortable="true">Typ</th> <th class="desktop">Anzahl</th>
            </tr>
            </thead>
            <tbody>
            {% for item in storage %}
            {% if item.threshold and item.amount <= item.danger %}
            <tr class="table-danger">
                {% elif  item.threshold and item.amount <= item.warning %}
            <tr class="table-warning">
                {% else %}
            <tr>
                {% endif %}
                <td>{{ item.id }}</td>
                <td><a href="{% url 'storage_edit' item.id %}">{{ item.name }}</a></td>
                <td>{{ item.type }}</td>
                <td align="right">{{ item.amount|floatformat:1 }} {{ item.unit }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <br>
    <form>
        <input type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '{% url 'storage_add' %}';" value="Neue Position"/>
    </form>

    <script>
    $(document).ready(function() {
        $('#storage').DataTable( {
            "columns": [
                { "data": "Id" },
                { "data": "Name" },
                { "data": "Typ" },
                { "data": "Anzahl" },
            ]
        } );
    } );
    </script>




{% endblock content %}
