{% extends 'brewery/base.html' %}
{% block title %}{% if called == 'add' %}Neue Position{% else %}Bearbeite: Position{% endif %} - Lager -{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}



<div class="container-sm bottom">
    {% if called == "add" %}
    <h2>Lager: Neue Position</h2>
    {% else %}
    <h2>Lager: Bearbeite Position</h2>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br> <br>
        <input type="submit" class="btn btn-primary btn-lg btn-block" name="save" value="Speichern">
        <input type="button" class="btn btn-secondary btn-lg btn-block" value="Abbrechen"  onclick="window.location.href = '{% url 'storage' %}';">
    </form>
</div>

<script>
function Hide() {
    var select_type = document.getElementById('id_type');
    var option = select_type.options[select_type.selectedIndex];
    console.log(option.text);
    if(option.text == "Hopfen" || option.text == "hopfen") {
         document.getElementById('div_id_alpha').style.display = '';
    } else {
         document.getElementById('div_id_alpha').style.display = 'none';
    }

    if(document.getElementById('id_threshold').value == "True") {
         document.getElementById('div_id_warning').style.display = '';
         document.getElementById('div_id_danger').style.display = '';
    } else {
         document.getElementById('div_id_warning').style.display = 'none';
         document.getElementById('div_id_danger').style.display = 'none';
    }
}
window.onload = Hide;
document.getElementById('div_id_threshold').onchange = Hide;
document.getElementById('div_id_type').onchange = Hide;
</script>
{% endblock content %}
