{% extends 'brewery/base.html' %}
{% block extrahead %}
{% endblock %}

{% block content %}
<h2>Lager: Bearbeite Position</h2>

<form action="" method="post">
    {% csrf_token %}
    {{ form.media }}
    <table>
        <tr>
            <td>Name</td> <td> {{ form.name }} </td>
        </tr>
        <tr>
            <td>Kategorie</td> <td> {{ form.type }}</td>
        </tr>
        <tr>
            <td>Anzahl</td> <td> {{ form.amount }} </td>
        </tr>
        <tr>
            <td>Einheit</td> <td> {{ form.unit }} </td>
        </tr>
    </table>
    <br>
    <input type="button" class="btn btn-secondary" value="Abbrechen"  onclick="window.location.href = '{% url 'storage' %}';">
    <input type="submit" class="btn btn-primary" name="save" value="Speichern">
</form>
{% endblock content %}