{% extends 'brewery/base.html' %}
{% block content %}
<h2>Lager: Neue Position</h2>

<form action="" method="post">
{% csrf_token %}
<table>
        <tr>
            <td>Name</td> <td> {{ form.name }} <td>
        </tr>
        <tr>
            <td>Kategorie</td> <td> {{ form.type }}  <a href="">+</a><td>
        </tr>
        <tr>
            <td>Anzahl</td> <td> {{ form.amount }} <td>
        </tr>
        <tr>
            <td>Einheit</td> <td> {{ form.unit }} <a href="">+</a><td>
        </tr>
</table>
<br>
<input type="button" value="Abbrechen"  onclick="window.location.href = '{% url 'storage' %}';">
<input type="submit" value="Speichern">
</form>
{% endblock content %}