{% extends 'brewery/base.html' %}
{% block content %}
<h2>Lager</h2>

<form>
    <input type="button" onclick="window.location.href = '{% url 'storage_add' %}';" value="Neu"/>
</form>


<table>
    <thead>
        <tr>
            <th>ID</th><th>Name</th> <th>Typ</th> <th>Anzahl</th> <th>Einheit</th>
        </tr>
    </thead>
    <tbody>
        {% for item in storage %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{% url 'storage_edit' item.id %}">{{ item.name }}</a></td>
            <td>{{ item.type }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.unit }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock content %}
