{% extends 'brewery/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    {% if form.errors %}
    <p>Something went wrong!</p>
    {% endif %}

    {% if next %}
    <p>Forbidden!</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" class="btn btn-primary btn-lg btn-block" name="save" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}